In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.utils import Bunch

In [2]:
import dice_ml

In [3]:
import dice_ml
from dice_ml.utils import helpers # helper functions
from sklearn.model_selection import train_test_split

dataset = helpers.load_adult_income_dataset()
target = dataset["income"] # outcome variable
train_dataset, test_dataset, _, _ = train_test_split(dataset,
                                                     target,
                                                     test_size=0.2,
                                                     random_state=0,
                                                     stratify=target)
# Dataset for training an ML model
d = dice_ml.Data(dataframe=train_dataset,
                 continuous_features=['age', 'hours_per_week'],
                 outcome_name='income')

# Pre-trained ML model
m = dice_ml.Model(model_path=dice_ml.utils.helpers.get_adult_income_modelpath(),
                  backend='TF2', func="ohe-min-max")
# DiCE explanation instance
exp = dice_ml.Dice(d,m)

2025-03-28 10:15:18.689818: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-03-28 10:15:19.124893: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-03-28 10:15:19.187248: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2025-03-28 10:15:19.187296: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2025-03-28 10:15:19.287633: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-03-28 10:15:21.021743: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2025-03-28 10:15:21.021851: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2025-03-28 10:15:21.021859: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2025-03-28 10:15:22.050054: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2025-03-28 10:15:22.050275: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2025-03-28 10:15:22.050308: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (fedora): /proc/driver/nvidia/version does not exist
2025-03-28 10:15:22.051064: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
# Define the chunk size for reading the CSV file
chunksize = 100000  # Adjust this value based on your requirements

# Initialize an empty list to store filtered chunks
filtered_chunks = []

# Read the CSV file in chunks based on the defined chunk size
for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
    # Filter the current chunk based on the criteria
    filtered_chunk = chunk[chunk['issue_d'].str.contains("2010", na=False)]
    # filtered_chunk = filtered_chunk[~filtered_chunk['issue_d'].str.contains("Oct-2013|Nov-2013|Dec-2013", na=False)]
    # Append the filtered chunk to the list
    filtered_chunks.append(filtered_chunk)

# Concatenate all filtered chunks into a single DataFrame
df = pd.concat(filtered_chunks)

/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,59,118) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,118) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,118) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,49,59) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,49,59,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19,59,118) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):
/tmp/ipykernel_12212/2038679434.py:8: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/home/athyrson/Code/Data/Raw Data/Lending Club/accepted_2007_to_2018Q4.csv", chunksize=chunksize):

In [5]:
df_1 = df.sample(frac=1, random_state=42)
df_1.shape

(12537, 151)

In [6]:
import re

def preprocess_data(df):
    # Calculate risk score
    df["risk_score"] = df.loc[:, ["last_fico_range_high", "last_fico_range_low"]].mean(axis=1)
    
    # Create target variable
    df["target"] = np.where((df.loan_status == 'Current') |
                            (df.loan_status == 'Fully Paid') |
                            (df.loan_status == "Issued") |
                            (df.loan_status == 'Does not meet the credit policy. Status:Fully Paid'), 0, 1)
    
    # Drop unnecessary columns
    for c in ['last_fico_range_high', 'last_fico_range_low', 'loan_status']:
        df = df.drop(c, axis=1, errors='ignore')
    
    def fix_term_column(df):
        """
        Fix the dtype of the 'term' column by extracting the numeric part and converting it to an integer.
        Handles cases where the column contains non-string values (e.g., NaN or float).
        
        Parameters:
            df (pd.DataFrame): The DataFrame containing the 'term' column.
        
        Returns:
            pd.DataFrame: The DataFrame with the 'term' column converted to numeric.
        """
        try:
            # Extract numeric part from the 'term' column and convert to integer
            df['term'] = df['term'].apply(lambda x: int(re.search(r'\d+', str(x)).group()) if pd.notna(x) else x)
        except AttributeError as e:
            # Handle cases where the regex search fails (e.g., no match found)
            print("Error: Unable to extract numeric value from 'term' column.")
            print(f"Details: {e}")
        except Exception as e:
            # Handle any other unexpected errors
            print("An unexpected error occurred while fixing the 'term' column.")
            print(f"Details: {e}")
        
        return df
    
    def fix_emp_length_column(df):
        """
        Fix the dtype of the 'emp_length' column by converting it to numeric.
        Handles cases where the column contains non-string values (e.g., NaN or float).
        
        Parameters:
            df (pd.DataFrame): The DataFrame containing the 'emp_length' column.
        
        Returns:
            pd.DataFrame: The DataFrame with the 'emp_length' column converted to numeric.
        """
        try:
            # Map '< 1 year' to '0' and extract numeric part from the 'emp_length' column
            df['emp_length'] = df['emp_length'].map(lambda x: "0" if x == '< 1 year' else x)
            df['emp_length'] = df['emp_length'].map(lambda x: int(re.search(r'\d+', str(x)).group()), na_action='ignore')
        except Exception as e:
            # Handle any unexpected errors
            print("Error: Unable to convert 'emp_length' column to numeric.")
            print(f"Details: {e}")
        
        return df
    
    df = fix_term_column(df)
    df = fix_emp_length_column(df)

    return df

In [7]:
df_2 = preprocess_data(df_1)
df_2

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,risk_score,target
1643125,498726,NaN,5000.0,5000.0,5000.000000,36,11.36,164.56,B,B5,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,732.0,0
1636584,597920,NaN,10000.0,10000.0,9861.357548,36,7.88,312.82,A,A5,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,682.0,0
1639847,543951,NaN,8700.0,8700.0,8700.000000,36,7.51,270.67,A,A4,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,787.0,0
1643531,492732,NaN,4000.0,4000.0,4000.000000,36,7.88,125.13,A,A5,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,712.0,0
1640954,528880,NaN,10000.0,10000.0,9362.071323,36,7.14,309.42,A,A3,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,822.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652094,562187,NaN,13800.0,13800.0,13800.000000,36,16.32,487.36,D,D5,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,602.0,0
1638791,562457,NaN,8000.0,8000.0,8000.000000,36,7.14,247.53,A,A3,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,812.0,0
1638990,557251,NaN,5000.0,5000.0,4500.000000,36,14.84,172.94,D,D1,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,707.0,0
1634460,624384,NaN,10000.0,10000.0,9950.000000,60,13.35,229.33,C,C4,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,702.0,0
1640870,530129,NaN,2000.0,2000.0,2000.000000,36,15.58,69.91,D,D3,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,662.0,0

In [8]:
def create_bunch_df(X,y):
    # Convert to NumPy arrays
    X_array = X.to_numpy()
    y_array = y.to_numpy()

    # Get feature names
    feature_names = X.columns.tolist()

    # Create a Bunch object
    bunch_df = Bunch(
        data=X_array,
        target=y_array,
        feature_names=feature_names,
        DESCR="Custom dataset similar to scikit-learn fetch_datasets"
    )
    return bunch_df

In [9]:
drop_list = [
    'issue_d', 'url', 'collection_recovery_fee', 'last_pymnt_amnt', 'last_pymnt_d', 'pymnt_plan', 'recoveries', 
    'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'hardship_flag', 
    'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 
    'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 
    'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 
    'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 
    'settlement_percentage', 'settlement_term', 'id', 'emp_title', 'desc', 'title', 'last_credit_pull_d', 'next_pymnt_d', 'risk_score'
]

In [10]:
X = df_2.loc[:, df_2.columns != 'target'].drop(drop_list, axis=1)#, 'risk_score'
y = df_2['target']

df_3 = create_bunch_df(X, y)
X = df_3.data
y = df_3.target
feature_names = df_3.feature_names

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, recall_score, balanced_accuracy_score
import pandas as pd
from sklearn.preprocessing import TargetEncoder
from interpret.glassbox import ExplainableBoostingClassifier  # Import EBM

# Train benchmark models with all features
# Logistic Regression
log_reg = make_pipeline(TargetEncoder(), StandardScaler(), LogisticRegression(max_iter=1000, random_state=42))
log_reg.fit(X_train, y_train)
log_reg_pred = log_reg.predict_proba(X_test)[:, 1]

# Decision Tree Classifier
tree_clf = make_pipeline(TargetEncoder(), StandardScaler(), DecisionTreeClassifier(max_depth=5, random_state=42))
tree_clf.fit(X_train, y_train)
tree_clf_pred = tree_clf.predict_proba(X_test)[:, 1]

# Gradient Boosting Classifier
gb_clf = make_pipeline(TargetEncoder(), StandardScaler(), GradientBoostingClassifier(n_estimators=100, learning_rate=0.01, max_depth=3, random_state=42))
gb_clf.fit(X_train, y_train)
gb_clf_pred = gb_clf.predict_proba(X_test)[:, 1]

# Explainable Boosting Machine (EBM)
ebm = make_pipeline( TargetEncoder(), StandardScaler(), ExplainableBoostingClassifier(random_state=42))
ebm.fit(X_train, y_train)
ebm_pred = ebm.predict_proba(X_test)[:, 1]

# Evaluate performance of benchmark models
log_reg_auc = roc_auc_score(y_test, log_reg_pred)
log_reg_recall = recall_score(y_test, log_reg_pred.round())
log_reg_balanced_acc = balanced_accuracy_score(y_test, log_reg_pred.round())

tree_clf_auc = roc_auc_score(y_test, tree_clf_pred)
tree_clf_recall = recall_score(y_test, tree_clf_pred.round())
tree_clf_balanced_acc = balanced_accuracy_score(y_test, tree_clf_pred.round())

gb_clf_auc = roc_auc_score(y_test, gb_clf_pred)
gb_clf_recall = recall_score(y_test, gb_clf_pred.round())
gb_clf_balanced_acc = balanced_accuracy_score(y_test, gb_clf_pred.round())

ebm_auc = roc_auc_score(y_test, ebm_pred)
ebm_recall = recall_score(y_test, ebm_pred.round())
ebm_balanced_acc = balanced_accuracy_score(y_test, ebm_pred.round())

# Create a DataFrame to store the results
results_df = pd.DataFrame({
    "Model": ["Logistic Regression", "Decision Tree Classifier", "Gradient Boosting Classifier", "Explainable Boosting Machine (EBM)"],
    "AUC": [log_reg_auc, tree_clf_auc, gb_clf_auc, ebm_auc],
    "Recall": [log_reg_recall, tree_clf_recall, gb_clf_recall, ebm_recall],
    "Balanced Accuracy": [log_reg_balanced_acc, tree_clf_balanced_acc, gb_clf_balanced_acc, ebm_balanced_acc]
})

# Display the DataFrame
results_df.round(3)

                                Model    AUC  Recall  Balanced Accuracy
0                 Logistic Regression  0.678   0.023              0.508
1            Decision Tree Classifier  0.642   0.017              0.504
2        Gradient Boosting Classifier  0.663   0.000              0.500
3  Explainable Boosting Machine (EBM)  0.678   0.032              0.511

In [12]:
X = df_2.loc[:, df_2.columns != 'target'].drop(drop_list, axis=1)#, 'risk_score'
y = df_2['target']

# df_3 = create_bunch_df(X, y)
# X = df_3.data
# y = df_3.target
# feature_names = df_3.feature_names

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, recall_score, balanced_accuracy_score
import pandas as pd
from interpret.glassbox import ExplainableBoostingClassifier  # Import EBM

# Train benchmark models with all features



# Explainable Boosting Machine (EBM)
ebm = ExplainableBoostingClassifier(random_state=42)
ebm.fit(X_train, y_train)
ebm_pred = ebm.predict_proba(X_test)[:, 1]

# Evaluate performance of benchmark models
ebm_auc = roc_auc_score(y_test, ebm_pred)
ebm_recall = recall_score(y_test, ebm_pred.round())
ebm_balanced_acc = balanced_accuracy_score(y_test, ebm_pred.round())

# Create a DataFrame to store the results
results_df = pd.DataFrame({
    "Model": ["Logistic Regression", "Decision Tree Classifier", "Gradient Boosting Classifier", "Explainable Boosting Machine (EBM)"],
    "AUC": [log_reg_auc, tree_clf_auc, gb_clf_auc, ebm_auc],
    "Recall": [log_reg_recall, tree_clf_recall, gb_clf_recall, ebm_recall],
    "Balanced Accuracy": [log_reg_balanced_acc, tree_clf_balanced_acc, gb_clf_balanced_acc, ebm_balanced_acc]
})

# Display the DataFrame
results_df.round(3)

/home/athyrson/Code/py10/lib64/python3.10/site-packages/interpret/utils/_preprocessor.py:358: RuntimeWarning: All-NaN slice encountered
  min_feature_val = np.nanmin(X_col)
/home/athyrson/Code/py10/lib64/python3.10/site-packages/interpret/utils/_preprocessor.py:359: RuntimeWarning: All-NaN slice encountered
  max_feature_val = np.nanmax(X_col)
/home/athyrson/Code/py10/lib64/python3.10/site-packages/interpret/glassbox/_ebm/_ebm.py:813: UserWarning: Missing values detected. Our visualizations do not currently display missing values. To retain the glassbox nature of the model you need to either set the missing values to an extreme value like -1000 that will be visible on the graphs, or manually examine the missing value score in ebm.term_scores_[term_index][0]
  warn(

                                Model    AUC  Recall  Balanced Accuracy
0                 Logistic Regression  0.678   0.023              0.508
1            Decision Tree Classifier  0.642   0.017              0.504
2        Gradient Boosting Classifier  0.663   0.000              0.500
3  Explainable Boosting Machine (EBM)  0.697   0.026              0.510

In [14]:
from interpret import show
show(ebm.explain_global())